# Exclude all files from being committed
*

# Except from these few
!mma-word-embeddings/data.py
!mma-word-embeddings/embedding.py
!mma-word-embeddings/trainable_model.py
!mma-word-embeddings/utils.py
!mma-word-embeddings/__init__.py
!README*
!LICENSE*
